@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

input:hover, textarea:hover {
    background-color: #dddddd;
}

input {
   margin: 1px 1px 1px 5px;
}

p#msn {
    text-align: left;
    top: auto;
}

textarea {
    margin: 1px 1px 1px 50px;
}